/*
HELLO TRAVELER!
 Please don't directly copy my code! 
 If you want to use it, please edit it to your needs and credit me on your page/website.
 You can take reference, play around with it or take inspiration from it. But please credit me :)
 Just be respectful! And thanks you for liking my website's code :) 
 - Yokiie, owner of https://unicodeangel.neocities.org

 〃∩   ∧＿＿∧ 　　 
 ⊂⌒（ 　・ω・）　 
 　 ｀ヽ_っ＿/￣￣￣￣/ 　 
 　 　 　 ＼/       /　 
 　　　　　　￣￣￣￣  
 */

@layer reset, defaults, themes, utilities;

/* ===========
	FONTS
=========== */

@font-face {
	font-family: "TamaConnect";
	src: url(../fonts/tamaconnecttype.ttf);
}

@font-face {
	font-family: "NintendoDS-BIOS";
	src: url(../fonts/nds-true-bios.otf);
}

@font-face {
	font-family: "Synkopy";
	src: url(../fonts/Synkopy/Synkopy-Flipside.otf);
}

@font-face {
	font-family: "NocturnalSubway";
	src: url(../fonts/YutaONE_curated/NocturnalSubway/NocturnalSubway.otf);
}

@font-face {
	font-family: "GAS";
	src: url(../fonts/GAS_____.TTF);
}

/* ==========
	RESET
========== */

@layer reset {

	*,
	::before,
	::after {
		box-sizing: border-box;
	}

	/* ========== END RESET */
}



/* ==============
	UTILITIES
============== */

@layer utilities {

	.uppercase {
		text-transform: uppercase;
	}

	.lowercase {
		text-transform: lowercase;
	}

	.undo-case {
		text-transform: none;
	}

	/* ============== END UTILITIES */
}



/* ==============
	DEFAULTS
============== */

@layer defaults {

	/* STRUCTURE */

	:root {
		--gap: 1.5rem;
		--meta-font-size: 0.8em;
	}

	body {
		top: 0px;
		left: 0px;
		font-size: 18px;
		font-family: "NintendoDS-BIOS";
		margin: 0;
		background-color: none;
		background-image: url("../images/bg/bg-ds.png");
		background-size: 191px 192px;
		background-repeat: repeat;
		line-height: 1.5;
		background-attachment: fixed;
		animation: bgMove 60s linear infinite;
	}

	a:link,
	button {
		cursor: var(--cursorPointerImage), pointer;
	}

	a[href]:active {
		cursor: var(--cursorPointerImage), grabbing;
	}

	*:not(:empty):not(img):not(svg):active {
		cursor: var(--cursorTextImage), text;
	}

	@keyframes bgMove {
		0% {
			background-position: 0% 0%;
		}

		100% {
			background-position: 100% 100%;
		}
	}
}

#container {
	height: 100%;
	margin-bottom: 80px;
}

.flex-list {
	display: inline;
	flex-direction: row;
	flex-wrap: wrap;
	padding-inline-start: 0;
	list-style-type: "";
}

/* HEADER */


#header {
	position: sticky;
	top: 0px;
	/* DO NOT ADD A "left" VALUE HERE, IT BREAKS THE SCROLLING */
	/* Keep the header sticky at the top */
	width: 200px;
	/* Fixed width for the sidebar */
	z-index: 20;
	height: 80vh;
	/* Make it full height to act as a sidebar */
}

#layout {
	min-height: 100hv;
	display: grid;
	/* Create a grid layout */
	grid-template-columns: 170px 1fr;
	/* Two columns: one fixed for header, one flexible for container */
}


#main-nav {
	position: relative;
	top: 5px;

	a {
		display: block;
		padding-block-start: 0.3em;
		padding-block-end: 0.2em;
		padding-inline: 0.4em;
		font-size: 1.2em;

		text-decoration: unset;

		&:hover {
			background-color: none;
		}
	}
}


/* HIGHTLIGHT CORNERS */
#selection {
	image-rendering: pixelated;
	position: relative;
	height: 62px;
	top: -39px;
	left: -6px;
	margin: 0px;
	opacity: 0;
	z-index: 0;
}

@keyframes highlight {
	from {
		opacity: 1;
		transform: scale(1.0);
		filter: drop-shadow(0px 0px 4px #91bde7) brightness(1.0);
	}

	to {
		opacity: 1;
		transform: scale(1.05);
		filter: drop-shadow(0px 0px 4px #91bde7) brightness(1.05);
	}
}

#selection:hover {
	opacity: 1;
	animation: 0.3s highlight alternate infinite;
}

#main-nav>ul>li {
	height: 62px;
}

/* NAVIGATION LINK BACK */

#main-nav>ul>li:nth-child(1)>a {
	height: 64px;
	width: 55px;
	margin: 0px;
	background-image: url("../images/navigation/BackArrow.png");
	image-rendering: auto;
	background-size: 50px;
	background-repeat: no-repeat;
	padding: 0px;
}

/* Force the hover effect to be disabled on the Back arrow */
#main-nav>ul>li:nth-child(1)>a>img:hover {
	opacity: 0 !important;
}

/* NAVIGATION LINK ARCHIVE */

#main-nav>ul>li:nth-child(2)>a {
	position: relative;
	top: 5px;
	left: 70px;
	height: 56px;
	width: 50px;
	margin: 15px 0px 15px 0px;
	background-image: url("../images/navigation/ArchiveButton.png");
	image-rendering: pixelated;
	background-size: 50px;
	background-repeat: no-repeat;
	padding: 0px;

}

#main-nav>ul>li:nth-child(2)>a:hover {
	background-color: transparent;
	/* Removes background color on hover */
	color: inherit;
	/* Keeps text color from changing */
}

/* NAVIGATION LINK TAGS */

#main-nav>ul>li:nth-child(3)>a {
	position: relative;
	top: 5px;
	left: 70px;
	height: 56px;
	width: 50px;
	margin: 15px 0px 15px 0px;
	background-image: url("../images/navigation/TagsButton.png");
	image-rendering: pixelated;
	background-size: 50px;
	background-repeat: no-repeat;
	padding: 0px;
}

/* NAVIGATION LINK HOME */

#main-nav>ul>li:nth-child(4)>a {
	position: relative;
	top: 5px;
	left: 70px;
	height: 56px;
	width: 50px;
	margin: 15px 0px 15px 0px;
	background-image: url("../images/navigation/HomeButton.png");
	image-rendering: pixelated;
	background-size: 50px;
	background-repeat: no-repeat;
	padding: 0px;
}

/* MAIN CONTENT WINDOW */

#content {
	position: relative;
	left: 0px;
	top: 60px;
	width: 599px;
	height: auto;
	background-image: linear-gradient(90deg, #fafbfb 0%, #f7f7f7 50%, #fafbfb 100%);
	border: 1.5px solid #c9c9c9;
	border-radius: 18px;
	z-index: 1;
	box-shadow: inset 0px -5px 5px -5px #dadada, 0px 0px 5px 0px #dadada;
	padding: 0px;
	margin-bottom: 30px;
	margin-right: 80px !important;
}

#headerbg {
	position: relative;
	top: -5px;
	left: -6px;
	margin: 0px;
}

#content-toolbar {
	position: relative;
	left: 0px;
	height: 40px;
	width: 100%;
	margin-left: 3px;
	margin-right: 3px;
}

#content-toolbar span {
	position: relative;
	color: white;
	font-family: "GAS";
	font-size: 2.25rem;
	top: -57px;
	padding-left: 20px;
	letter-spacing: 5px;
	text-shadow: 2px 2px 4px #4164a5;
}

#content-toolbar span:after {
	position: absolute;
	left: 20px;
	text-shadow: 0px 0px 5px #4164a5;
	content: attr(data-text);
	z-index: -1;
}

/* ==============
	     MAIN PAGES CONTENT CSS
      ============== */

#content-inner {
	position: relative;
	height: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 8px;
	padding-bottom: 15px;
	margin-top: 13px;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 10px;
	border: 1.5px solid #c9c9c9;
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgb(250, 250, 251) 5%, rgba(250, 251, 251, 1) 95%, rgba(255, 255, 255, 1) 100%);
	border-radius: 18px;
	box-shadow: inset 0px 0px 5px 0px rgb(202, 202, 202), 0px -4px 5px -3px #bbbbbb, 0px 5px 1px -3px #ffffff;
	z-index: 1;
}

#content-inner span {
	position: relative;
	display: inline-block;
	color: #9da7b3;
	font-size: 1.25rem;
	letter-spacing: 0.033em;
	font-family: "NintendoDS-BIOS";
	text-align: justify;
	text-justify: inherit;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	/*text-transform: uppercase;*/
}

#content-inner .bubble span {
	padding-left: 2px !important;
	padding-right: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	margin: 0px !important;
	color: #9da7b3;
	color: #d4bcbc;
	font-size: 18px;
	font-family: "NintendoDS-Bios";
	font-weight: 500;
}

#content-inner h1 {
	position: relative;
	color: #9da7b3;
	font-size: 18px;
	font-family: "TamaConnect";
	font-weight: 500;
	padding-left: 20px;
}

#content-inner h1::after {
	position: relative;
	display: block;
	content: '';
	width: 100%;
	left: -20px;
	height: 1px;
	margin-top: 3px;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 0%, rgba(189, 199, 211, 1) 25%, rgba(189, 199, 211, 1) 50%, rgba(189, 199, 211, 1) 75%, rgba(255, 255, 255, 0.4) 100%);
	box-shadow: 0px 0px 4px 1px #ffffff;
}

/*============== END MAIN PAGES CONTENT CSS */


/* ==============
	     MAIN ARTICLES CONTENT CSS
      ============== */

#article-content-inner {
	position: relative;
	height: auto;
	padding-left: 40px;
	padding-right: 35px;
	padding-top: 8px;
	padding-bottom: 15px;
	margin-top: 0px;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 10px;
	border: 1.5px solid #c9c9c9;
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgb(250, 250, 251) 5%, rgba(250, 251, 251, 1) 95%, rgba(255, 255, 255, 1) 100%);
	border-radius: 18px;
	box-shadow: inset 0px 0px 5px 0px rgb(202, 202, 202), 0px -4px 5px -3px #bbbbbb, 0px 5px 1px -3px #ffffff;
	z-index: 1;
}

#article-content-inner span {
	position: relative;
	display: inline-block;
	color: #8d95a0;
	font-size: 1.25rem;
	font-family: "NitendoDS-BIOS";
	font-weight: 400;
	text-align: justify;
	text-justify: inherit;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
}

#article-content-inner .bubble span {
	padding-left: 2px !important;
	padding-right: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	margin: 0px !important;
	color: #8d95a0;
	color: #bcc7d4;
	font-size: 18px;
	font-family: "NintendoDS-BIOS";
	font-weight: 500;
}

/* TEXT POSTS */

#article-content-inner h1 {
	position: relative;
	left: -40px;
	width: 110%;
	color: #8d95a0;
	font-size: 22px;
	font-family: "TamaConect";
	font-weight: 500;
	padding-left: 45px;
}

#article-content-inner h1::after {
	position: relative;
	display: block;
	content: '';
	width: 100%;
	left: -20px;
	height: 1px;
	margin-top: 3px;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 0%, rgba(189, 199, 211, 1) 25%, rgba(189, 199, 211, 1) 50%, rgba(189, 199, 211, 1) 75%, rgba(255, 255, 255, 0.4) 100%);
	box-shadow: 0px 0px 4px 1px #ffffff;
}

#article-content-inner h2 {
	position: relative;
	width: 110%;
	color: #8d95a0;
	font-size: 20px;
	font-family: "TamaConnect";
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 5px;
}

.code-block {
	display: block;
	margin-block: 1rem;
	font-weight: 600;
	color: #74a4db;
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(250, 251, 251, 1) 5%, rgba(250, 251, 251, 1) 95%, rgba(255, 255, 255, 1) 100%);
	overflow-x: auto;
	white-space: pre;
	tab-size: 4ch;
	border: 2px solid #cfd7e0;
	border-radius: 10px;
	padding: 10px;
}

code {
	color: #838b96;
	font-size: 14px;
	background-color: #e6e6e6;
}

blockquote {
	margin-inline: var(--gap);
	color: #8d95a0;
	font-family: "TamaConnect";
	font-style: oblique;

}

figure,
details {
	color: #8d95a0;
	font-family: "TamaConnect";
}

#article-content-inner>article>details>p #article-content-inner h3 {
	position: relative;
	left: -40px;
	width: 110%;
	color: #8d95a0;
	font-size: 18px;
	font-family: "TamaConnect";
	font-weight: 500;
	padding-left: 45px;
}

article>header {
	margin-block-end: 1rem;
	padding-block-end: 1rem;

	h1 {
		margin-block-end: 0.5rem;
		font-size: 2.2rem;
	}

	&+* {
		margin-block-start: 0;
	}
}

#article-content-inner>article>p {
	font-family: "NintendoDS-BIOS";
	color: #8d95a0;
	font-size: 14px;
}

#article-content-inner>article>ul>li,
#article-content-inner>article>ol {
	font-family: "NintendoDS-BIOS";
	color: #8d95a0;
	font-size: 14px;
}

#post-date {
	font-family: "NintendoDS-BIOS";
	color: #9da7b3;
	font-size: 14px;
	margin-right: 2px;
}

#post-tags {
	margin-block: 0;

	&>li {
		display: inline;
		font-family: "NintendoDS-BIOS";
		font-size: 14px;
	}

	&>li:not(:last-child)::after {
		content: ",\a0";
		/* comma + non-breaking space */
		color: #9da7b3;
		font-family: "NintendoDS-BIOS";
		font-size: 12px !important;
	}

	a::before {
		content: "#";
	}
}

/*============== END MAIN ARTICLES CONTENT CSS */

#content-footer {
	position: relative;
	top: 0px;
	height: 25px;
	margin-top: 10px;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 7px;
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(250, 251, 251, 1) 5%, rgba(250, 251, 251, 1) 95%, rgba(255, 255, 255, 1) 100%);
	border-radius: 18px;
	box-shadow: inset 0px 3px 5px -1px rgb(202, 202, 202), 0px -4px 5px -3px #bbbbbb, 0px 5px 1px -3px #ffffff;
	z-index: 1;
}

#content-footer span {
	position: absolute;
	color: #9da7b3;
	font-family: "NintendoDS-BIOS";
	font-size: 13px;
	vertical-align: middle;
	top: 5px;
	padding-left: 25px;
}

#latest-posts,
#all-posts,
#tag-index {
	position: relative;
	margin: 10px;
	margin-left: 30px;
	color: #9da7b3;
	font-size: 16px;
	font-family: "NintendoDS-BIOS";
	font-weight: 500;
	padding-left: 20px;
}

#latest-posts a,
#all-posts a,
#tag-index a {
	color: #74a4db;
	text-decoration: underline dotted;
	font-family: "NintendoDS-BIOS";
	font-size: 1.5rem;
	letter-spacing: 0.033em;
	position: relative;
	margin-left: 10px;
	text-align: right;
	padding-left: 22px;
	display: inline-block;
	line-height: 0.75em;

	&:hover {
		color: #a9c6f0;

		&:visited {
			color: #b5c0ce;
		}
	}

	&:visited {
		color: #9da7b3;
		text-decoration: underline dotted;
	}
}

#latestpost {
	position: relative;
	top: -20px;
	left: 220px;
	width: 192px;
	z-index: 10;
	margin-left: -200px;
	/* Adjust this value to match #container's left offset */
}


.latestpostimgs {
	top: 0px;
	left: 0px;
	z-index: 1;
}

#latestposttitle {
	position: absolute;
	top: 50px;
	font-size: 14px;
	font-family: "NintendoDS-BIOS";
	letter-spacing: 1px;
	margin-bottom: 5.5px;
	margin-top: 10px;
	margin-left: 6px;
	background: linear-gradient(to right, #8bb4ff 0%, #e2fafb 80%, rgba(220, 252, 252, 0) 100%) repeat scroll 0% 0% / auto padding-box border-box;
	color: rgb(255, 255, 255);
	padding-left: 10px;
	text-shadow: 0px 0px 3px #5670a0;
	z-index: 100;
}

#latestpostnamebox {
	overflow: hidden;
	position: relative;
	top: 67px;
	margin-left: 6px;
	width: 94%;
	z-index: 10;
	/* Width of the container */
}

#latestpostname {
	position: relative;
	width: fit-content !important;
	top: 10px;
	left: 5px;
	font-size: 13px;
	font-family: "NintendoDS-BIOS";
	color: #7b828b;
	padding-left: 10px;
	white-space: nowrap;


	/* Apply animation to this element */
	-moz-animation: scroll-left 10s linear infinite;
	-webkit-animation: scroll-left 10s linear infinite;
	animation: scroll-left 10s linear infinite;
}

#latestpostname>a {
	color: #74a4db;
	text-decoration: none;
}

#latestpostname>a:hover {
	color: #a9c6f0;
	text-decoration: none;
}


#speechbubble {
	/*
		position: relative;
		top: 0px;
		left: 0px;
		z-index: -1;*/
	position: sticky;
	top: 0px;
	left: 0px;
	margin: 0px;
}

#seeder {
	position: relative;
	top: 0px;
	left: -20px;
	z-index: 10;
	height: 96px;
	margin: 0px;
}



/* Move it (define the animation) */
@keyframes scroll-left {
	0% {
		transform: translateX(0);
	}

	10% {
		transform: translateX(0);
	}

	45% {
		transform: translateX(-60%);
	}

	55% {
		transform: translateX(-60%);
	}

	90% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(0);
	}
}

/* TEXT */
:is(h1, h2, h3)+* {
	margin-block-start: 0;
}

details {
	margin-block: 1rem;
	margin-inline-start: var(--gap);
}

summary {
	cursor: pointer;
	font-weight: bold;
	margin-inline-start: -1rem;

	&+* {
		margin-block-start: 0;
	}
}

a {
	color: #74a4db;
	text-decoration: underline dotted;

	&:hover {
		color: #a9c6f0;

		&:visited {
			color: #b5c0ce;
		}
	}

	&:visited {
		color: #9da7b3;
	}
}

::marker {
	color: #9ac2f0;
}

/* MEDIA */

.NukoEmoji {
	display: inline;
	vertical-align: middle;
	margin-inline: auto;
	width: 25px;
	image-rendering: auto;
}

img {
	display: block;
	margin-inline: auto;
}

.center {
	height: 100%;
	width: 100%;
	aspect-ratio: 1;
}

figure {
	margin-inline: var(--gap);
}

figcaption {
	text-align: center;

	blockquote+&::before {
		content: "\2014 \a0";
		/* em dash + non-breaking space */
	}
}

.gallery {
	--gallery-cols: 1;
	display: grid;
	grid-template-columns: repeat(var(--gallery-cols), 1fr);
	gap: calc(2rem / var(--gallery-cols));
	padding-left: 0;
	list-style-type: "";

	&:has(:nth-child(2)) {
		--gallery-cols: 2;
	}

	&:has(:nth-child(5)) {
		--gallery-cols: 3;
	}

	&:has(:nth-child(10)) {
		--gallery-cols: 4;
	}

	img {
		height: 100%;
		width: 100%;
		aspect-ratio: 1;
		object-fit: cover;
	}
}

iframe {
	max-inline-size: 100%;
	display: block;
	margin-block: 1rem;
}

/* POST LISTS */

.post-list {
	padding-inline-start: var(--gap);
	list-style-type: "";
	text-indent: calc(-1 * var(--gap));
}

#tag-index {
	padding-inline-start: 0;
	list-style-type: "";

	details {
		margin-block: 0;
	}

	[open] {
		margin-block-end: 1rem;
	}

	summary {
		font-size: 18px;
		font-weight: 400;
	}
}


#post-nav {
	position: relative;
	top: -3px;
	height: 30px;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	color: #9da7b3;
	font-family: "TamaConnect";
	font-size: 1rem;

}

#post-nav>ul {

	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-inline-start: 0;
	list-style-type: "";

	&> :first-child>a::before {
		content: "< \a0";
		/* left arrow + non-breaking space */
	}

	&> :last-child {
		text-align: right;

		a::after {
			content: "\a0> \a0";
			/* right arrow + non-breaking space */
		}
	}
}

#post-nav li {
	white-space: nowrap;
}

#post-nav a {
	text-decoration: none !important;
}

#footer {
	position: relative !important;
	top: 8px;
	right: 0px;
	text-align: right;
	padding-right: 15px;
	color: #9da7b3;
	font-family: "NintendoDS-BIOS";
	font-size: 15px;
	font-weight: 400;
	line-height: 0.7em;
}

#footer>a {
	text-decoration: none;
	color: #9da7b3;
	border-bottom: 2px dotted #9da7b3;
}


/* ============== END DEFAULTS */

/* ============== BEGIN TEXT ANIMATIONS */

@keyframes textGlitch {
	0% {
		text-shadow: 0.4389924193300864px 0 1px rgba(69, 165, 255, 0.5), -0.4389924193300864px 0 1px rgba(156, 219, 255, 0.3);
	}

	5% {
		text-shadow: 2.7928974010788217px 0 1px rgba(69, 165, 255, 0.5), -2.7928974010788217px 0 1px rgba(156, 219, 255, 0.3);
	}

	10% {
		text-shadow: 0.02956275843481219px 0 1px rgba(69, 165, 255, 0.5), -0.02956275843481219px 0 1px rgba(156, 219, 255, 0.3);
	}

	15% {
		text-shadow: 0.40218538552878136px 0 1px rgba(69, 165, 255, 0.5), -0.40218538552878136px 0 1px rgba(156, 219, 255, 0.3);
	}

	20% {
		text-shadow: 3.4794037899852017px 0 1px rgba(69, 165, 255, 0.5), -3.4794037899852017px 0 1px rgba(156, 219, 255, 0.3);
	}

	25% {
		text-shadow: 1.6125630401149584px 0 1px rgba(69, 165, 255, 0.5), -1.6125630401149584px 0 1px rgba(156, 219, 255, 0.3);
	}

	30% {
		text-shadow: 0.7015590085143956px 0 1px rgba(69, 165, 255, 0.5), -0.7015590085143956px 0 1px rgba(156, 219, 255, 0.3);
	}

	35% {
		text-shadow: 3.896914047650351px 0 1px rgba(69, 165, 255, 0.5), -3.896914047650351px 0 1px rgba(156, 219, 255, 0.3);
	}

	40% {
		text-shadow: 3.870905614848819px 0 1px rgba(69, 165, 255, 0.5), -3.870905614848819px 0 1px rgba(156, 219, 255, 0.3);
	}

	45% {
		text-shadow: 2.231056963361899px 0 1px rgba(69, 165, 255, 0.5), -2.231056963361899px 0 1px rgba(156, 219, 255, 0.3);
	}

	50% {
		text-shadow: 0.08084290417898504px 0 1px rgba(69, 165, 255, 0.5), -0.08084290417898504px 0 1px rgba(156, 219, 255, 0.3);
	}

	55% {
		text-shadow: 2.3758461067427543px 0 1px rgba(69, 165, 255, 0.5), -2.3758461067427543px 0 1px rgba(156, 219, 255, 0.3);
	}

	60% {
		text-shadow: 2.202193051050636px 0 1px rgba(69, 165, 255, 0.5), -2.202193051050636px 0 1px rgba(156, 219, 255, 0.3);
	}

	65% {
		text-shadow: 2.8638780614874975px 0 1px rgba(69, 165, 255, 0.5), -2.8638780614874975px 0 1px rgba(156, 219, 255, 0.3);
	}

	70% {
		text-shadow: 0.48874025155497314px 0 1px rgba(69, 165, 255, 0.5), -0.48874025155497314px 0 1px rgba(156, 219, 255, 0.3);
	}

	75% {
		text-shadow: 1.8948491305757957px 0 1px rgba(69, 165, 255, 0.5), -1.8948491305757957px 0 1px rgba(156, 219, 255, 0.3);
	}

	80% {
		text-shadow: 0.0833037308038857px 0 1px rgba(69, 165, 255, 0.5), -0.0833037308038857px 0 1px rgba(156, 219, 255, 0.3);
	}

	85% {
		text-shadow: 0.09769827255241735px 0 1px rgba(69, 165, 255, 0.5), -0.09769827255241735px 0 1px rgba(156, 219, 255, 0.3);
	}

	90% {
		text-shadow: 3.443339761481782px 0 1px rgba(69, 165, 255, 0.5), -3.443339761481782px 0 1px rgba(156, 219, 255, 0.3);
	}

	95% {
		text-shadow: 2.1841838852799786px 0 1px rgba(69, 165, 255, 0.5), -2.1841838852799786px 0 1px rgba(156, 219, 255, 0.3);
	}

	100% {
		text-shadow: 2.6208764473832513px 0 1px rgba(69, 165, 255, 0.5), -2.6208764473832513px 0 1px rgba(156, 219, 255, 0.3);
	}
}

.glitch {
	animation: textGlitch 3.5s infinite;
	color: #9da7b3;
	background-color: none;
	background: none;
}