h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 5px;
	line-height: 1.2;
}

h1 {
	font-size: 2rem;
	font-family: "NocturnalSubway";
	font-weight: normal;
	text-align: center;
	border-bottom: 2px ridge var(--border);
	padding-bottom: 5px;
}

h2 {
	font-size: 1.1rem;
	font-family: "TamaConnect";
	font-weight: normal;
	text-align: center;
}

h3 {
	font-size: 1.1rem;
	font-family: "TamaConnect";
	font-weight: normal;
	text-align: left;
}

h4 {
	font-size: 1.1rem;
	font-family: "TamaConnect";
	font-weight: normal;
	text-align: center;
}

h5 {
	font-size: 1.3rem;
	color: var(--accent);
}

h6 {
	font-size: 1.3rem;
	color: var(--accent);
	padding-left: 12px;
}

dd::before {
	content: "â©";
	color: #141a38;
}

.scrollContainer {
	display: flex;
	align-items: stretch;
	flex-direction: column;
}

.scroll {
	flex-grow: 1;
	position: relative;
	overflow-y: scroll;
	scrollbar-color: #919ed7 #e5e8f5;
}

.scroll>div {
	position: absolute;
	width: 100%;
	padding-right: 0px;
}